/***************************************************************************************************************
 *****************************************RESPONSIVE 320px******************************************************
 **************************************************************************************************************/ 
@media screen and (max-width: 320px) {
/******************************************* ACCEUIL *****************************************************/
/* Center the image for the small screens */
.logo-img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Center the button for the small screens */
.nav-bar-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Center the menu items for the small screens */
.navbar-collapse {
    text-align: center;
}


/******************************************* À PROPOS *****************************************************/
.image-equipe {
    width: 100%;
}


/******************************************* NOUS JOINDRE *****************************************************/
.image-garage {
    width: 100%;
}

/******************************************* FORM *****************************************************/

/*form{
    width: 10%;
    margin: 10px auto; 
}

label {
    width: 100px;
}

form input[type="text"] {
    width: 150px!important;
}

form input[type="number"] {
    width: 150px!important;
}

form input[type="password"] {
    width: 150px!important;
}

form input[type="email"] {
    width: 150px!important;
}

span {
    width: 200px;
    float: right;
    border: 1px solid #ced4da;
    margin-left: 20px;
    border-radius: 5px;
    display: none;
    padding-top: 6px;
    padding-left: 10px;
}
*/

}


/***************************************************************************************************************
 *****************************************RESPONSIVE 768px******************************************************
 **************************************************************************************************************/ 
/* Styles for tablets and larger */
@media screen and (max-width: 768px) {

}



/***************************************************************************************************************
 *****************************************RESPONSIVE 1024px*****************************************************
 **************************************************************************************************************/ 
/* Styles for laptops and larger */
@media screen and (max-width: 1024px) {
.logo-img {
    width: 80%;

}
}


/***************************************************************************************************************
 *****************************************RESPONSIVE 1200px*****************************************************
 **************************************************************************************************************/ 
/* Styles for large desktops and larger */
@media screen and (max-width: 1200px) {


}



/***************************************************************************************************************
 *****************************************RESPONSIVE 1200px*****************************************************
 **************************************************************************************************************/ 
/* Styles for large desktops and larger */
@media screen and (min-width: 2560px) {
.navbar {
    padding-left: 600px;
}


}